@{
    ViewData["Title"] = "PetVet";
}

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(images/cao.jpg);">
  <div class="container">
    <h1>Bem vindo à PetVet!</h1>
    <p>Aqui você encontra o melhor atendimento para o seu pet</p>
  </div>
</div>
<div class="main">
    <div class="container" id="texto">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec ullamcorper dolor. Donec ut ultrices est. Nulla facilisi. Pellentesque interdum velit magna, sit amet lacinia lacus consequat in. Integer tempor sem vitae tempus volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent in tincidunt elit. Cras consequat risus ac accumsan finibus. Fusce ut malesuada eros, vel euismod dui. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla facilisi. Donec ut felis a magna aliquam consectetur. Curabitur sit amet tincidunt nunc, sit amet dapibus leo. Aliquam erat volutpat. Etiam eget nibh id nisi venenatis ullamcorper nec posuere ipsum. Etiam dictum, arcu sit amet gravida interdum, ipsum neque sollicitudin purus, vitae condimentum nibh risus nec felis.</p>
    </div>
</div>
