@{
    ViewData["Title"] = "Serviços";
}
<h1>Serviços</h1>

<p>Confira nossos serviços:</p>

<div>
    <ul>
        <li>Serviço 1</li>
        <ul>
            <li>Descrição</li>
            <li>Valor</li>
        </ul>
        <li>Serviço 2</li>
        <ul>
            <li>Descrição</li>
            <li>Valor</li>
        </ul>
        <li>Serviço 3</li>
        <ul>
            <li>Descrição</li>
            <li>Valor</li>
        </ul>
    </ul>
</div>
